<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<title>user2/loginSuccess</title>
	</head>
	<body>
		<h3>user2/loginSuccess</h3>
		<p>
			아이디 : <span sec:authentication="principal.uid">아이디</span> <br>
			이름 : <span sec:authentication="principal.name">이름</span> <br>
			휴대폰 : <span>[[${#authentication.principal.hp}]]</span> <br>
			나이 : <span>[[${#authentication.principal.age}]]</span> <br>
			날짜 : <span>[[${#authentication.principal.rdate}]]</span> <br>
			
			<a th:href="@{/user2/logout}">로그아웃</a>
		</p>
	</body>
</html>