<th:block th:include="@{_header.html}"/>
<th:block th:include="@{board/__${group}__.html}"/>
<main id="board" class="list">

    <table border="0">
        <caption>글목록</caption>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>날짜</th>
            <th>조회</th>
        </tr>
        <!--/*
        <tr th:each="article:${articles}">
            <td>[[${article.no}]]</td>
            <td><a th:href="@{/view}">[[${article.title}]] [ [[${article.comment}]] ]</a></td>
            <td>[[${article.nick}]]</td>
            <td>[[${article.rdate}]]</td>
            <td>[[${article.hit}]]</td>
        </tr>
        */-->
    </table>

    <div class="page">
        <a href="#" class="prev">이전</a>
        <a href="#" class="num current">1</a>
        <a href="#" class="num">2</a>
        <a href="#" class="num">3</a>
        <a href="#" class="next">다음</a>
    </div>

    <a th:href="@{/write}" class="btnWrite">글쓰기</a>

</main>
<!-- 내용 끝 -->

</article>
</section>

</div>
<th:block th:include="@{_footer.html}"/>